<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="tire" class="dI5.KoreaTire"></bean>
	<bean id="car" class="dI5.Car">

		<!-- <constructor-arg name="t" ref="tire"> -->
		<constructor-arg index="0" ref="tire">

			<!-- 매개변수가 1개일 경우 name, index 생략 가능.
			name : 생성자의 넣을 변수명 
			index : 몇번째 변수 
			ref 참조변수를 넣을 때
			value : 값을 넣을 때(기본형)
			-->

		</constructor-arg>
	</bean>
</beans>
